*{
    margin:0;
    padding: 0;
}

nav h1{
    text-align: center;
    margin-top: 3%;
}

/*
main {

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 8%;
}

.esquerda{
    margin-right: 5%;
    justify-ce
    
}

.direita{
    margin-right:5%;
    
}

footer{
    text-align:center;
}

*/




