*{
    margin:0;
    padding: 0;
}

nav h1{
    text-align: center;
    margin-top: 3%;
}

main {
    margin: 5% 10%;
}

.instrucoes {
    margin-bottom: 3%;
    text-align: center;
}

.texto{
    margin-bottom: 3%;
}

.texto .entrada{
    margin-bottom: 3%;
}

.botoes{
    margin-top: 2%;
}

.botao{
    margin-top: 2%;
}

.links{

}

.footer{
    text-align: center;
}

